.bg-image{
    background-image: url(http://lorempixel.com/1600/900/city);
    background-size: 100%;
    background-repeat: none;
}

.bg-orange{
    border-radius: 5px;
    background-color: orange;
    color: white;
    margin: 100px 50;
    padding: 40px 40px;
}

.mg-10{
    margin: 30px;
}

.mg-bottom-20{
    margin-bottom: 50px;
}
 textarea{
     margin: 10px 0;
 }
 input{
     margin: 10px 0;
 }
