<!--<div class="container">
  <div class="row">
    <div class="col-4 mx-auto bg-orange">
      <div><input type="text"></div>
    </div>
  </div>
</div>-->
<div>
<br><br><br><br>
<div class="container">
    <div class="row">
      <br>
      
      <div class="col-4">
        <!--<img src="http://lorempixel.com/1600/900/city" alt="">-->
      </div>
      <div class="col-4 bg-orange">
        <h3 class="mg-bottom-20">Registro</h3>
        <div class="form-group">
          <input type="text" class="w-100 form-control" placeholder="Correo">
          <input type="text" class="w-100 form-control" placeholder="Asunto">
          <textarea class="w-100 form-control" name="" id=""rows="5" placeholder="Cuerpo"></textarea>
          <button class="btn btn-light w-100 ">Enviar</button>
        </div>
  
      </div>
    </div>
  </div>
  <br><br>
</div>